.svg {
  fill: $outer-space;
}
.svg--arrow {
  width: 8px;
  height: 8px;
}

.svg--arrow-downlaod {
  width: 53px;
  height: 53px;
}

.svg--equipment {
  width: 165px;
  height: 165px;
}

.svg--form-arrow-download {
  width: 100px;
  height: 125px;
}

.svg--logo {
  width: 166px;
  height: 36px;
}
