.svg {
  fill: $outer-space;
}
.svg--arrow {
  width: 8px;
  height: 8px;
}

.svg--arrow-downlaod {
  width: 53px;
  height: 53px;
}

.svg--ballon-lpg {
  width: 165px;
  height: 165px;
}

.svg--ecu-lpg {
  width: 165px;
  height: 165px;
}

.svg--filters-lpg {
  width: 165px;
  height: 165px;
}

.svg--form-arrow-download {
  width: 100px;
  height: 125px;
}

.svg--injector-lpg {
  width: 165px;
  height: 165px;
}

.svg--krepeg-lpg {
  width: 165px;
  height: 165px;
}

.svg--logo {
  width: 166px;
  height: 36px;
}

.svg--magistral-lpg {
  width: 165px;
  height: 165px;
}

.svg--multivave-lpg {
  width: 165px;
  height: 165px;
}

.svg--reducer-lpg {
  width: 165px;
  height: 165px;
}

.svg--smesitel-lpg {
  width: 165px;
  height: 165px;
}
