.container-vs-pad {
  font-size: 1rem;
  padding-top: 10em;
  padding-bottom: 10em;

  &--sm {
    padding-top: 6.5625em;
    padding-bottom: 6.5625em;
  }

  @include media-breakpoint-down(lg) {
    font-size: 0.8rem;
  }

  @include media-breakpoint-down(md) {
    font-size: 0.6rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.4rem;
  }

  @include media-breakpoint-down(xm) {
    font-size: 0.2rem;
  }
}
