.footer {
  font-size: 1rem;
  color: $white;
  background-image: url('../../img/footer-bg.jpg');

  &__menu {
    text-align: right;
  }

  &__address {
    font-size: 3.125rem;
    line-height: 1;
    font-family: OpenSansBold;
    font-style: normal;
    padding: 2.3em 0 7.2em;
  }
}
