.gbo-offer {
  background-color: $mystic;
  position: relative;
  font-size: 1rem;

  &__description {
    margin-bottom: 7.5em;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      margin-bottom: 5em;
    }
  }

  &__form {
    position: relative;
    z-index: 1;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::before {
    background-image: url('../../img/repair-1.png');
    background-repeat: no-repeat;
    background-position: 0 3.75em;

    @include media-breakpoint-down(md) {
      background-size: 344px 402px;
    }

    @include media-breakpoint-down(sm) {
      background: none;
    }
  }

  &::after {
    background-image: url('../../img/repair-2.png');
    background-repeat: no-repeat;
    background-position: 100% 11.875em;

    @include media-breakpoint-down(md) {
      background-size: 199px 221px;
    }

    @include media-breakpoint-down(sm) {
      background: none;
    }
  }
}
