.gbo-delivery {
  font-size: 1rem;

  &__description {
    margin-bottom: 6.25em;
  }

  &__item {
    &:nth-child(-n + 3) {
      @include media-breakpoint-down(md) {
        margin-bottom: 2em;
      }
    }

    @include media-breakpoint-down(sm) {
      width: 50%;
      text-align: center;
    }
  }
}
