.header {
  background-image: url('../../img/header-bg.jpg');
  background-position-y: 100px;

  &--another-bg {
    background-image: url('../../img/header-bg-no-shadow.jpg');
    min-height: 725px;

    @include media-breakpoint-down(md) {
      background-position: -500px 100px;
    }

    @include media-breakpoint-down(sm) {
      background: none;
      min-height: auto;
    }
  }
}
