.header {
  background-image: url('../../img/header-bg.jpg');
  background-position-y: 100px;

  &__menu {
    text-align: right;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__logo {
    @include media-breakpoint-down(md) {
      margin: 0.5em 0;
      justify-content: center;
    }

    @include media-breakpoint-down(xm) {
      flex-wrap: wrap;
    }
  }
}
