.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.1s, opacity 0.3s ease;

  &__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    -webkit-overflow-scrolling: touch;
  }

  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  &__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(xm) {
      width: 100%;
    }
  }

  &__form {
    position: relative;
    margin-top: -50%;
  }
}
