#mod_rewrite starts here

RewriteEngine on

#does not apply to existing directories, meaning that if folder exists on the server they don't change anything and don't run the Rule!

RewriteEngine %{REQUEST_FILENAME} !-directories

#Check for in directory with .html extension 

RewriteCond %{REQUEST_FILENAME}\.html -f 

#Here we actually show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC,L]
