.description {
  font-size: 1rem;
  border-left: 0.5em solid $cinnabar;
  padding-left: 3.75em;

  &--dark {
    border-color: $outer-space;
  }

  &--lg-indent {
    padding-left: 4.375em;
  }

  &--without-indent {
    padding-left: 0;
    line-height: 0;
  }
}
