.employee-card {
  color: white;
  font-size: 1rem;

  @include media-breakpoint-down(md) {
    font-size: 0.7rem;
  }

  @include media-breakpoint-down(sm) {
    min-width: 100%;
    margin-bottom: 3em;
  }

  &__title {
    font-family: OpenSansBold;
    font-size: 1.5625em;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 1.2em;
  }

  &__rank {
    font-family: OpenSans;
    font-size: 0.6em;
    font-weight: normal;
    margin-top: 0.66em;
    margin-bottom: 0;
  }

  &__description {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}
