.headline {
  color: $white;
  font-size: 1rem;
  font-family: OpenSansBold, sans-serif;
  margin: 0;

  &__paragraph {
    font-family: OpenSans;
  }

  &__normal {
    font-family: OpenSans;
    font-weight: normal;
  }

  &--sm {
    font-family: OpenSans;
    font-size: 2.25rem;
    font-weight: normal;
    margin-bottom: 0.83em;

    @include media-breakpoint-down(lg) {
      font-size: 2rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 1.75rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }

  &--md {
    font-size: 3.125rem;

    @include media-breakpoint-down(lg) {
      font-size: 2.5rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }

  &--lg {
    font-size: 3.75rem;
    line-height: 1.22;
    margin: 3em 0 3.083em;

    @include media-breakpoint-down(lg) {
      font-size: 3rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }

    @include media-breakpoint-down(xm) {
      font-size: 1.5rem;
    }
  }

  &--center {
    text-align: center;
  }

  &--inverse {
    color: $outer-space;
  }

  &--bottom-indent {
    margin-bottom: 1.6em;
  }
}
