.logo {
  color: $white;
  display: flex;
  font-size: 0.8125rem;
  line-height: 1.78;
  text-decoration: none;
  align-items: center;

  &__img {
    display: inline-block;
    height: 37px;
    width: 210px;
    padding-right: 2.3em;
  }

  @include media-breakpoint-down(sm) {
    & {
      font-size: 0.75em;
    }

    &__img {
      width: 150px;
    }
  }
}
