.paragraph {
  font-size: 1.125rem;
  line-height: 1.61;
  color: $white;
  margin-top: 0;
  margin-bottom: 2.22em;

  &:last-child {
    margin-bottom: 0;
  }

  &--inverse {
    color: $outer-space;
  }

  &--lg {
    font-size: 3.0625rem;
    line-height: 1.4;
  }
}
