@include font-face(
  'OpenSans',
  '../fonts/opensans-regular',
  'normal',
  'normal',
  woff2 woff
);

@include font-face(
  'OpenSansBold',
  '../fonts/opensans-bold',
  'normal',
  'normal',
  woff2 woff
);

body {
  font-family: OpenSans, sans-serif;
}

strong {
  font-family: OpenSansBold;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
